ol,
ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

html{
    background-color: #fff;
}
body{
    margin: 0 auto;
    width: 1440px;
    background-color: wheat;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

img{
    display: block;
}

/* header-styles */

.page-header{
    /* height: 72px; */
    border-bottom: 1px solid  #e7e9fc;
}

.container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

}
.navigation{
    margin-left: 156px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}

.main-logo{
    margin-right: 76px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;

}
.main-logo-studio{
    color: #2e2f42;
}
.menu{
    /* margin-left: 76px; */
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.menu-item-studio{
    padding: 24px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.menu-item-studio:hover,
.menu-item-studio:focus{
    color:#404bbf;
}
.test:hover{
    background-color: green;
}
.menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.contacts{
    /* margin-left: 332px; */
    font-style: normal;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* flex-direction: row; */
    /* gap: 0px; */
    
}

.contact-list{
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* flex-direction: row; */
    gap: 40px;
}
.contact-item{
    
    



    font-family: "Roboto", sans-serif;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-item-a:hover, .contact-item-a:focus{
    color: #404bbf;
}

/* end header */

/* main */

.hero-section{
    display: flex;
    margin: 0 auto;
    background: #2e2f42;
    width: 1440px;
    height: 600px;
    justify-content: center;
    text-align: center;

    padding: 188px 0;



    
}

.hero-section .container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 48px;
}



.hero-section-h{
    margin: 0 auto;
    max-width: 496px;
    max-height: 120px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

}


.hero-section-button{
    margin: 0 auto;
    display: block;

    height: 56px;
    min-width: 169px;
    min-height: 56px;
    
    
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    
    cursor: pointer;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.hero-section-button:hover, .hero-section-button:focus{
    background-color: #404bbf;
}

.benefits-section{
    padding: 120px 0;
    
}
.benefits-section-ul {
    display: flex;
    gap: 24px;
}

.benefits-section-strategy-li{
    width: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.benefits-section-h{
    margin-bottom: 8px;
}
.benefits-section-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.our-team-section{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background: #f4f4fd;

    padding: 120px;
    
}

.our-team-section .container{
    text-align: center;
    justify-content: center;

    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.our-team-section-item{
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.our-team-section-p{
    text-align: center;
    
    font-size: 16px;
    line-height: 1.5;
    color:#434455;
    letter-spacing: 0.02em;
}

.our-team-section-main-h{
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.our-team-section-list{
    display: flex;
    gap: 24px;
}

.name-position{
    padding: 32px 0;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    
}





.our-portfolio-section-main-h{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.our-portfolio-section-litle-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}


.our-portfolio-section-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer                                                 */








.footer-section{
    background: #2e2f42;
}
.main-logo-footer{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}

.main-logo-studio-footer{
    color: #f4f4fd;
}


.footer-section-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}





